__pycache__/
*.py[cod]
.venv/
venv/
.env
.vscode/
.idea/
dataset/raw/*
!dataset/raw/.gitkeep
dataset/processed/*
!dataset/processed/.gitkeep
dataset/real_world/images/*
!dataset/real_world/images/.gitkeep
models/**/*.pkl
models/**/*.joblib
results/
logs/
*.zip
